:root {
  --primary: #000000;
  --primary-text: #000000;
  --secondary: #000000;
  --secondary-text: #f5f1f1;
  --accent: #bdbbbb;
  --accent-text: #000000;
  --bottom-boxes: #000000;
  --try: #000000;
  --header: #c7c7c7;
}
